<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Hub des anciens élèves de l'incubateur de Metz Numeric School.">
        <title>{% block title %}HubIncub - Metz Numeric School{% endblock %}</title>
        <link rel="icon" href="/favicon.ico" sizes="any">
        <link rel="icon" type="image/png" href="/images/branding/favicon-hubincub.png">
        {% block stylesheets %}
            <link rel="stylesheet" href="/styles/app.css">
        {% endblock %}

        {% block javascripts %}
            <script src="/scripts/app.js" defer></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
